/*<!-- 导航开始 -->*/
.w1200{
	width: 1200px;
	margin: 0 auto;
}
.nav{
	height: 100px;
	background: #f3f3f3;

}
.nav .logo{
	float: left;
	width: 170px;
	height: 49px;
}
.nav .logo a h2{
	width: 170px;
	height: 100px;
	font-size: 0;
	background: url(../images/logo.png) no-repeat center;
}



.nav .list{
	float: right;
}

.nav > .w1200 > .list > ul > li{
	float: left;
}

.nav > .w1200 > .list > ul > li > a{
	display: block;
	line-height: 100px;
	padding: 0 25px;
}
.nav .w1200 .list ul li a.women{
    margin-right:0; 
}
.nav > .w1200 > .list > ul > li > a.cpzxa{
	color: #cb9c4b;
}

.nav > .w1200 > .list > ul > li:hover > a{
	color: #cb9c4b;
	background:  #f3f3f3;
}
.nav > .w1200 > .list > ul > li > ul{
	display: none;
	text-align: center;

}
.nav > .w1200 > .list > ul > li > ul > li{
	margin-bottom: 1px;
	height: 40px;
	width: 106px;
	background:#527840 ;
	opacity: 0.72;
}
.nav > .w1200 > .list > ul > li > ul > li > a{
	display: block;
	line-height: 40px;
	color: #fff;
}

.nav > .w1200 > .list > ul > li:hover ul{
	display: block;
}

.nav > .w1200 > .list > ul > li > ul > li > a:hover{
	color: #cb9c4b;
}


/*<!-- 导航结束 -->*/

/*banner开始*/ 
.banner{
	width: 100%;
	height: 500px;
	/*position: relative;*/
	background: url(../images/nbaaa.jpg) no-repeat 0 0;

}
/*.banner img{
	width: 100%;*/

	/*position: absolute;*/
/*}*/
/*banner结束*/ 



/*位置开始*/
.wz{
	margin-top: 30px;

}

.wz p{
	display: inline-block;

}


.wz .sy{
	display:inline-block;
	width:22px;
	height:20px;
	background: url(../images/home.jpg) no-repeat 0 0;

	font-size: 0;
	float: left;
	margin-right: 10px;
}



/*位置结束*/ 


/*产品中心标题开始*/
.title{
	color: #323232;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 60px;
}
.title h2{
	font-size: 28px;
}
.title b{
	font-size: 0;
	display: block;
	width: 36px;
	height: 3px;
	background: #dac9ab;
	margin: 6px auto;

}


.title p{
	font-size: 12px;
	text-transform: uppercase;
}


/*产品中心标题结束*/



/*类别切换开始*/
.lbqh{
	width: 170px;

	/*margin: 0 auto;*/
	text-align: center;
	padding-bottom: 64px;
}

.lbqh a:hover{
	background: #dac9ab;
	color: #fff;
}

.lbqh .xpp{
	background: #dac9ab;
	color: #fff;

}
.lbqh a{
	display: block;
	float: left;
	width: 80px;
	height: 30px;
	text-align: center;
	color: #777;
	padding-top: 6px;

}
.lbqh p{
	float: left;
	display: block;
	color: #ccc;
	padding-top: 6px;
	
}


/*类别切换结束*/

/*版块开始*/
.bbox1{
	width: 1200px;
	height: 278px;
	border: 2px solid #ccc;
	padding-top: 20px;
	margin-bottom: 50px;
	border-radius: 12px;
}
.bbox1 h4{
	font-size: 24px;
	color: #777;
	margin-left: 30px;
}

.bbox1 .ejo{
	width: 914px;
	margin: 0 auto;
	margin-top: 48px;
}

.bbox1 .ejo a{
	float: left;
	margin-right: 81px;
	text-align: center;

}


.bbox1 .ejo a p{
	margin-top: 22px;
	font-size: 18px;
	color: #333;
	width: 117px;
}
.bbox1 .ejo a.mr0{
	margin-right: 0px;
	background-position: -790px 0px;
}


.bbox1 .ejo a.mr0:hover{
	background-position: -790px -119px;

}
.bbox1 .ejo a.aa3{
	background-position: -198px 0px;

}
.bbox1 .ejo a.aa3:hover{
	background-position: -198px -119px;

}

.bbox1 .ejo a.aa2{
	background-position: -395px 0px;

}
.bbox1 .ejo a.aa2:hover{
	background-position: -395px -119px;

}

.bbox1 .ejo a.aa4{
	background-position: -592px 0px;

}
.bbox1 .ejo a.aa4:hover{
	background-position: -592px -119px;

}
.bbox1 .ejo a.aa1:hover{
	background-position: 0px -119px;

}

/*.bbox1 .ejo a img:hover{
	opacity: 0;
}

.bbox1 .ejo a:hover img{
	background: url(../images/bq111.png);
    opacity: 1;


}*/

.ejo .hhh a{
	width:117px;
	height: 119px;
	background: url(../images/bqqq.png) no-repeat 0 0;

}







.bbox2{
	width: 1200px;
	height: 278px;
	border: 2px solid #ccc;
	padding-top: 20px;
	margin-top:50px;
	border-radius: 12px;
}
.bbox2 h4{
	font-size: 24px;
	color: #777;
	margin-left: 30px;
}

.bbox2 .ejo{
	width: 914px;
	margin: 0 auto;
	margin-top: 48px;
}

.bbox2 .ejo a{
	float: left;
	margin-right: 66px;
	text-align: center;

}


.bbox2 .ejo a p{
	margin-top: 22px;
	font-size: 18px;
	color: #333;
	width: 117px;
}
.bbox2 .ejo a.mr0{
	margin-right: 0px;
	background-position: -780px 0px;
}


.bbox2 .ejo a.mr0:hover{
	background-position: -780px -126px;

}
.bbox2 .ejo a.aa2{
	background-position: -195px 0px;

}
.bbox2 .ejo a.aa2:hover{
	background-position: -195px -127px;

}

.bbox2 .ejo a.aa3{
	background-position: -392px 0px;

}
.bbox2 .ejo a.aa3:hover{
	background-position: -392px -127px;

}

.bbox2 .ejo a.aa4{
	background-position: -588px 0px;

}
.bbox2 .ejo a.aa4:hover{
	background-position: -588px -126px;

}
.bbox2 .ejo a.aa1:hover{
	background-position: 0px -128px;

}

/*.bbox1 .ejo a img:hover{
	opacity: 0;
}

.bbox1 .ejo a:hover img{
	background: url(../images/bq111.png);
    opacity: 1;


}*/

.ejo .hha a{
	width:127px;
	height: 127px;
	background: url(../images/bbbq.png) no-repeat 0 0;

}



.bbox3{
	width: 1200px;
	height: 278px;
	border: 2px solid #ccc;
	padding-top: 20px;
	margin-top: 50px;
	border-radius: 12px;
}
.bbox3 h4{
	font-size: 24px;
	color: #777;
	margin-left: 30px;
}


.bbox3 form{
	margin-left: 36px;
	position: relative;
}

.bbox3 form img{
	position: absolute;
	top: 34PX;
	right: 46PX;

}
.bbox3 form textarea{
	width: 1119px;
	height: 163px;
	resize: none;
	margin-top: 22px;
	margin-bottom: 43px;
	color: #ccc;
	padding-left:10px;
	padding-top: 10px;
	font-size: 22px;
}



.p6{

	width: 160px;
	height: 48px;
	font-size: 20px;
	color: #777;
	text-align: center;
	line-height: 48px;
	text-transform: uppercase;
	border: 1px solid #dcdcdc;
	
	margin-top:100px;
	transition: all .5s ease;
	cursor: pointer;
}
.p6:hover{
	background: #527840;
	color: #fff;
}



/*版块结束*/




/*<!-- 尾部开始 -->*/
.footer{
	height: 400px;
	background: #f3f3f3;
	margin-top:100px;
	position: relative;
}
.footer .w1200{
	width: 1200px;
}
.footer .footer-left{
	width: 230px;
}
.footer .footer-left img.llogo{
	display: block;
	padding-top: 56px;
	height:49px;
	margin: 0 auto;
}
.footer .footer-left img.erweii{
	display: block;
	height:130px; 
	margin: 30px auto;
}
.footer .footer-left .icon {
	height: 2px;
	width: 90px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom:29px;
}
.footer .footer-left .icon img{
   display: inline-block;
}
.footer .footer-left .tel{
	height: 25px;
	width: 172px;
	margin: 0 auto;
}
.footer .footer-left .tel .te{
   float: left;
   height: 25px;
   width: 25px;
   overflow: hidden;
}
.footer .footer-left .tel .tell{
	float: right;
	font-size: 13px;
	color: #555555;
}
.footer .footer-mid{
	float: left;
	position: relative;
	width: 740px;
	height: 400px;
	
} 
.footer .footer-mid a.p1{
	position: absolute;
	top:80px;
	left:62px; 
	display: block;
    font-size: 14px;
    float: left;
	color: #555555;
}
.footer .footer-mid a.p2{
	position: absolute;
	top:80px;
	left:127px;
	display: block; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p02{
	position: absolute;
	top:119px;
	left:127px;
	width: 50px;
	height:80px;
}
.footer .footer-mid .p02 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}
.footer .footer-mid .p02 a:hover{

	color: #cb9c4b;

}

.footer .footer-mid .p03 a:hover{

	color: #cb9c4b;

}

.footer .footer-mid .p04 a:hover{

	color: #cb9c4b;

}

.footer .footer-mid .p05 a:hover{

	color: #cb9c4b;

}

.footer .footer-mid .p06 a:hover{

	color: #cb9c4b;

}

.footer .footer-mid .p07 a:hover{

	color: #cb9c4b;

}


.footer .footer-mid .p3{
	position: absolute;
	top:80px;
	left:224px; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p03{
	position: absolute;
	top:119px;
	left:224px;
	width: 50px;
	height:150px;
}
.footer .footer-mid .p03 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}

.footer .footer-mid .p4{
	position: absolute;
	top:80px;
	left:319px; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p04{
	position: absolute;
	top:119px;
	left:319px;
	width: 50px;
	height:150px;
}
.footer .footer-mid .p04 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}

.footer .footer-mid .p5{
	position: absolute;
	top:80px;
	left:418px; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p05{
	position: absolute;
	top:119px;
	left:418px;
	width: 50px;
	height:150px;
}
.footer .footer-mid .p05 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}

.footer .footer-mid .p66{
	position: absolute;
	top:80px;
	left:512px; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p06{
	position: absolute;
	top:119px;
	left:512px;
	width: 50px;
	height:150px;
}
.footer .footer-mid .p06 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}

.footer .footer-mid .p7{
	position: absolute;
	top:80px;
	left:610px; 
    font-size: 14px;
	color: #555555;
}
.footer .footer-mid .p07{
	position: absolute;
	top:119px;
	left:610px;
	width: 50px;
	height:150px;
}
.footer .footer-mid .p07 a{
	margin-bottom: 14px;
	display: block;
	font-size: 12px;
	color: #777;
}

.footer .footer-mid img.line2{
	display: inline-block;
	position: absolute;
	top:0px;
	left:708px;
   }
.footer .footer-right h1{
	margin-left: 4px;
	padding-top: 76px;
	font-size: 18px;
	color: #555555;
}

.footer .footer-right .box1{
	height: 23px;
	width: 209px;
	margin: 20px auto 18px;
}
.footer .footer-right .box1 .dizhi{
   float: left;
   height: 23px;
   width: 23px;

}
.footer .footer-right .box1 h2{
	float: right;
	font-size: 12px;
	color: #777;
	line-height: 23px;
}
.footer .footer-right .box2{
	height: 23px;
	width: 190px;

}
.footer .footer-right .box2 .dian{
   float: left;
   height: 23px;
   width: 23px;
   overflow:hidden; 
}
.footer .footer-right .box2 h3{
	float: right;
	font-size: 12px;
	color: #777;
	line-height: 23px;
}
.footer .footer-right .box3{
	height: 20px;
	width: 166px;
	padding-top: 18px;
}
.footer .footer-right .box3 .youx{
   float: left;
   height: 20px;
   width: 22px;

}
.footer .footer-right .box3 h4{
	 float: right;
	font-size: 12px;
	color: #777;
	line-height: 20px;
}
.footer .footer-right .box4{
	height: 21px;
	width: 90px;
	padding-top: 18px;
}
.footer .footer-right .box4 .dayin{
   float: left;
   height: 21px;
   width: 21px;

}
.footer .footer-right .box4 h5{
	 float: right;
	font-size: 12px;
	color: #777;
	line-height: 21px;
}
.footer .line{

	width: 1920px;
	position: absolute;
	top: 370px;

	border-bottom: 1px solid #ccc; 
	
}

.footer .yicp{
	
	color: #999;
	font-size: 12px;
	position: absolute;
	top: 378px;
	margin-left: 800px;

}

 /*<!-- 尾部结束 -->*/


